/* Buttons */

button, .button{
    --button-text-color: var(--color-contrast);
    --button-border-color: var(--color-contrast);
    --button-background-color: var(--color);
    --button-text-color-hover: var(--text-color);
    --button-background-color-hover: var(--color-contrast-hover);
    --button-text-color-active: var(--text-color);
    --button-border-color-active: var(--text-color);
    --button-background-color-active: var(--color-contrast);

    border: 1px solid var(--button-border-color);
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border-radius: var(--global-border-radius);
    padding: 4px 8px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button:hover, .button:hover{
    color: var(--button-text-color-hover);
    background-color: var(--button-background-color-hover);
}

button:active, .button:active{
    background-color: var(--button-background-color-active);
    color: var(--button-text-color-active);
    border-color: var(--button-border-color-active);
}

.button-danger{
    --button-text-color: var(--danger-color-contrast);
    --button-border-color: var(--danger-color-contrast);
    --button-background-color: var(--danger-color);
    --button-text-color-hover: var(--text-color);
    --button-background-color-hover: var(--danger-color-contrast-hover);
    --button-text-color-active: var(--text-color);
    --button-border-color-active: var(--text-color);
    --button-background-color-active: var(--danger-color-contrast);
}

.button-danger-outline{
    --button-text-color: var(--text-color);
    --button-border-color: var(--text-color);
    --button-background-color: var(--danger-color-contrast);
    --button-text-color-hover: var(--text-color);
    --button-background-color-hover: var(--danger-color-contrast-hover);
    --button-text-color-active: var(--danger-color-contrast);
    --button-border-color-active: var(--danger-color-contrast);
    --button-background-color-active: var(--danger-color);
}

.button-warning{
    --button-text-color: var(--warning-color-contrast);
    --button-border-color: var(--warning-color-contrast);
    --button-background-color: var(--warning-color);
    --button-text-color-hover: var(--text-color);
    --button-background-color-hover: var(--warning-color-contrast-hover);
    --button-text-color-active: var(--text-color);
    --button-border-color-active: var(--text-color);
    --button-background-color-active: var(--warning-color-contrast);
}

.button-warning-outline{
    --button-text-color: var(--text-color);
    --button-border-color: var(--text-color);
    --button-background-color: var(--warning-color-contrast);
    --button-text-color-hover: var(--text-color);
    --button-background-color-hover: var(--warning-color-contrast-hover);
    --button-text-color-active: var(--warning-color-contrast);
    --button-border-color-active: var(--warning-color-contrast);
    --button-background-color-active: var(--warning-color);
}

.button-success{
    --button-text-color: var(--success-color-contrast);
    --button-border-color: var(--success-color-contrast);
    --button-background-color: var(--success-color);
    --button-text-color-hover: var(--text-color);
    --button-background-color-hover: var(--success-color-contrast-hover);
    --button-text-color-active: var(--text-color);
    --button-border-color-active: var(--text-color);
    --button-background-color-active: var(--success-color-contrast);
}

.button-success-outline{
    --button-text-color: var(--text-color);
    --button-border-color: var(--text-color);
    --button-background-color: var(--success-color-contrast);
    --button-text-color-hover: var(--text-color);
    --button-background-color-hover: var(--success-color-contrast-hover);
    --button-text-color-active: var(--success-color-contrast);
    --button-border-color-active: var(--success-color-contrast);
    --button-background-color-active: var(--success-color);
}

.button-group{
    justify-content: center;
}

.button-group-end{
    justify-content: flex-end;
}

.button-group-start{
    justify-content: flex-start;
}

[class*="button-group"]{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

[class*="button-group"] > button:first-of-type{
    border-radius: var(--global-border-radius) 0 0 var(--global-border-radius);
    margin-right: 0;
    border-right: 0;
}
[class*="button-group"] > button:not(:first-of-type):not(:last-of-type){
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    border-right: 0;
}
[class*="button-group"] > button:last-of-type{
    border-radius: 0 var(--global-border-radius) var(--global-border-radius) 0;
    margin-left: 0;
}

[class*="button-group"] > button:only-of-type{
    border-radius: var(--global-border-radius);
    border: 1px solid var(--button-border-color);
}