*{
    box-sizing: border-box;
    font-family: monospace;
    scroll-behavior: smooth;
}

*:link {
    color: var(--link-color);
    text-decoration-line: none;
}

*:visited {
    color: var(--link-color-visited);
    text-decoration-line: none;
}

[class*="flex"]{
    display: flex;
}

.flex-vertical{
    flex-direction: column;
}

.flex-centered{
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: var(--grid-n-column);
    grid-template-rows: var(--grid-n-row);
}

body{
    overflow-y: hidden;
    border: 0;
    margin: 0;
}

:root{
    --primary-color: #27187E;
    --primary-color-contrast: #E6E6FF;
    --primary-color-contrast-hover: #BDBDFF;
    --secondary-color: #758BFD;
    --secondary-color-contrast: #E6EFFF;
    --secondary-color-contrast-hover: #BDBDFF;
    --text-color: #464341;
    --text-color-contrast: #FFFFFF;
    --text-color-contrast-hover: #BDBDBD;
    --danger-color: #FF5C58;
    --danger-color-contrast: #FFD6D4;
    --danger-color-contrast-hover: #FFBDBB;
    --warning-color: #FFC145;
    --warning-color-contrast: #FFF2D6;
    --warning-color-contrast-hover: #FFDDBD;
    --success-color: #00C48C;
    --success-color-contrast: #D6FFF2;
    --success-color-contrast-hover: #BDFFE0;
    --global-border-radius: 8px;
    --header-height: 40px;
    --header-grid-columns: 1fr 1fr 1fr;
    --header-grid-rows: 1fr;
    --full-height-heading: calc(var(--full-height) - var(--header-height));
    --half-height-heading: calc(var(--half-height) - var(--header-height));
    --quarter-height-heading: calc(var(--quarter-height) - var(--header-height));
    --full-height: 100vh;
    --half-height: 50vh;
    --quarter-height: 25vh;
    --sidebar-width: 200px;
    --padding-space: 30px;
    --technology-icon: 40px;
    --divisor-space: 20px;
    --link-color: var(--text-color-contrast);
    --link-color-visited: var(--text-color-contrast-hover);
    --color: var(--text-color);
    --color-contrast: var(--text-color-contrast);
    --color-contrast-hover: var(--text-color-contrast-hover);
}

.mouse-pointer{
    cursor: pointer;
}

.cursor-blink-effect{
    animation: blink .5s step-end infinite alternate;
    border-right: 3px solid;
}

.nowrap-text {
    white-space: nowrap;
    overflow: hidden;
}

.divisor{
    background-color: var(--color);
    width: 80%;
    height: 2px;
    margin-bottom: var(--divisor-space);
    margin-top: var(--divisor-space);
}

.theme-primary{
    --color: var(--primary-color);
    --color-contrast: var(--primary-color-contrast);
    --color-contrast-hover: var(--primary-color-contrast-hover);
    --link-color: var(--primary-color-contrast);
    --link-color-visited: var(--primary-color-contrast-hover);
}

.theme-secondary{
    --color: var(--secondary-color);
    --color-contrast: var(--secondary-color-contrast);
    --color-contrast-hover: var(--secondary-color-contrast-hover);
    --link-color: var(--secondary-color-contrast);
    --link-color-visited: var(--secondary-color-contrast-hover);
}