header{
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    color: var(--color-contrast);
    z-index: 999;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-contrast-hover);
    background-color: var(--color);
    display: grid;
    grid-template-columns: var(--header-grid-columns);
    grid-template-rows: var(--header-grid-rows);
}

header > div:first-of-type{
    justify-content: flex-start;
    padding-left: var(--padding-space);
}

header > div:last-of-type{
    justify-content: flex-end;
    padding-right: var(--padding-space);
}

header > div:not(:last-of-type):not(:first-of-type){
    justify-content: center;
}

header > div{
    display: flex;
    align-items: center;
}

header img{
    width: var(--header-height);
    height: var(--header-height);
}