nav{
    position: fixed;
    top: var(--heading-height);
    left: calc(-1 * var(--sidebar-width));
    width: var(--sidebar-width);
    height: 100%;
    transition: left 1s;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--color-contrast-hover);
    background-color: var(--color);
    color: var(--color-contrast);
}

.show-nav{
    left: 0;
}

nav > ul, nav > ol{
    list-style-type: none;
    padding-top: var(--padding-space);
    padding-left: var(--padding-space);
}

nav li {
    height: 2em;
}